<carousel>
  <slide>

<img src="https://images.wsj.net/im-397257?width=1280&size=1.77777778" alt="first slide"  width="1280" height="600"  stlye="display: block; width: 100%;">

  </slide>
 
</carousel>








<div class="container mt-5">
 <div *ngIf="!register" style="text-align: center;">

      <h1>Find your match</h1>

      <p class="lead">Come on in to view your matches all you need to do sign up!</p>
      <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
        <button class="btn btn-primary btn-info btn-lg">Learn more</button>
      </div>
</div>

<div *ngIf="register" class="container">
    <div class="row justify-content-center">
       <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
       </div> 
    </div>
</div>

</div>
